################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApi/.vs/WebApi
/WebApi/WebApi/obj
/WebApi/WebApi/bin/Debug/net6.0
/WebApi/TestProject/bin/Debug/net6.0
/WebApi/TestProject/obj
